/* Todo box */
.list {
  padding: 0;
  display: block;
  text-align: center;
  margin: auto;
}
/* Todo Content */
.content {
  width: 90%;
  margin: 1vw 0;
  font-size: medium;
  word-break: break-all;
  background-color: rgb(0, 0, 0, 0);
  border: 0;
}
/* 완료 및 삭제 버튼 */
.btn {
  font-size: x-small;
  margin: 0 10px;
  width: 25%;
  border: 1px solid black;
  border-radius: 10px;
}
/* 자세한 내용 작성 */
.detail {
  border: 1px solid black;
}
